/* tables */
th:nth-child(3) {
    width: 30rem;
}

th:nth-child(-n + 2) {
    width: 4rem;
}

table.tablesorter {
    font-size : 1rem;
    width     : 100%;
    text-align: left;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    background-color: #e6eeee;
    border          : 0.009px solid #cdcdcd;
    font-size       : 1rem;
    padding         : 5px 2rem 5px 5px;
}
table.tablesorter thead tr .header {
    background-image   : url(bg.gif);
    background-repeat  : no-repeat;
    background-position: center right;
    cursor             : pointer;
}
table.tablesorter tbody td {
    padding       : 4px;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color: #f0f0f6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
